@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://images.unsplash.com/photo-1596809429234-e577f0c8e1c7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    position: absolute;
    top: -2rem;
    left: -2rem;
    width: calc(100vw + 4rem);
    height: calc(100vh + 4rem);
    z-index: 1;
    filter: blur(0px);
        height: 150vh;
}

.loading-text {
    font-size: 3.2rem;
    color: #fff;
}

.main h1 {
    position: relative;
     display: flex;
    align-items: center;
    justify-content: center;
    top: 20rem;
    color: #fff;
    font-size: 3rem;
}

nav {
    background-color: azure;
    opacity: 0.7;
    height: 9rem;
}

 .navbar-expand-lg .navbar-nav .nav-link  {
  margin: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(63, 63, 63);
}

.navbar-toggler {
    color: rgb(63, 63, 63);
}

.navbar-toggler-icon {
    color: rgb(63, 63, 63);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: flex;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

