@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    margin: 0;
}

.main h1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 3rem;
    text-shadow: -2px -2px 0 rgb(192, 13, 15), 2px -2px 0 rgb(192, 13, 15), -2px 2px 0 rgb(192, 13, 15), 2px 2px 0 rgb(192, 13, 15), -3px 0 0 rgb(192, 13, 15), 3px 0 0 rgb(192, 13, 15), 0 -3px 0 rgb(192, 13, 15), 0 3px 0 rgb(192, 13, 15);
}

.navbar {
    background-color: rgb(192, 13, 15);
    opacity: 0.8;
    height: 8rem;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 2.5rem;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 3px 0 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0);
}

.navbar-toggler {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.navbar-toggler-icon {
    color: rgb(255, 255, 255);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: flex;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: 0;
}

.container-fluid {
    background-color: inherit;
    height: inherit;
    opacity: 1.5;
}

/* box-car */

.box-car {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30rem;
    flex-direction: column;
    color: #fff;
    background-color: rgb(53, 56, 56);
    margin: auto;
    max-width: 70rem;
}

h3 {
    margin: 2rem;
}

.img-box {
    width: 33rem;
}

table, th, td {
    border: 1px solid #fff;
}

.img-fluid {
    min-height: 5.7rem;
}

@media (max-width: 460px) {
    .main h1 {
        font-size: 1.5rem;
    }
    .nav-item {
        margin-top: -5rem;
    }
    .box-car {
        max-width: 20rem;
    }
    .navbar-collapse {
        background-color: rgb(192, 13, 15);
        opacity: 0.8;
    }
}

@media (max-width: 1000px) {
    .container-fluid {
        height: 2rem;
    }
}