@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');
* {
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    font-family: 'Ubuntu', sans-serif;
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    margin: 0;
}

button:focus {
    outline: none;
}

.main h1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 3rem;
    color: #fff;
    font-size: 3rem;
    text-shadow: -2px -2px 0 rgb(192, 13, 15), 2px -2px 0 rgb(192, 13, 15), -2px 2px 0 rgb(192, 13, 15), 2px 2px 0 rgb(192, 13, 15), -3px 0 0 rgb(192, 13, 15), 3px 0 0 rgb(192, 13, 15), 0 -3px 0 rgb(192, 13, 15), 0 3px 0 rgb(192, 13, 15);
}

.navbar {
    background-color: rgb(192, 13, 15);
    opacity: 0.8;
    height: 6rem;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-nav {
    margin: 5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-top: 2.5rem;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), -3px 0 0 rgb(0, 0, 0), 3px 0 0 rgb(0, 0, 0), 0 -3px 0 rgb(0, 0, 0), 0 3px 0 rgb(0, 0, 0);
}

.navbar-toggler {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

.navbar-toggler-icon {
    color: rgb(255, 255, 255);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.container-fluid {
    background-color: inherit;
    height: inherit;
    opacity: 1.5;
}

/* box-car */

.box-car {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30rem;
    flex-direction: column;
    color: #fff;
    background-color: rgb(53, 56, 56);
    margin: auto;
    max-width: 70rem;
    border-radius: 2rem;
}

h3 {
    margin: 2rem;
}

.img-box {
    width: 33rem;
}

table, th, td {
    border: 2px solid #fff;
}

.tableContent:not(:first-child) {
    display: none;
}

.contentSection {
    margin-top: 1rem;
}

.selectSection button {
    cursor: pointer;
    outline: none;
    width: 12rem;
    height: 4.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 2px 5px #000000;
    background: linear-gradient(to top, #696969, #575757);
    border: 2px solid #000000;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.selectSection button:hover {
    background: linear-gradient(to bottom, #696969, #575757);
}

.selectSection button:active {
    transform: translateY(3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
    ;
}

.img-fluid {
    min-height: 5.7rem;
}

/* img gallery */

.d-block {
    height: 15rem;
    margin: 15px 0;
    object-fit: cover;
    -webkit-border-top-left-radius: 70px;
    -webkit-border-bottom-right-radius: 80px;
    -moz-border-radius-topleft: 70px;
    -moz-border-radius-bottomright: 80px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 80px;
}

#gallery img {
    height: 4.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.modal-content {
    background: none;
    border: none;
}

#gallery.custom {
    padding: 0 15px;
}

.d-block:hover {
    -webkit-border-bottom-left-radius: 60px;
    -moz-border-radius-bottomleft: 60px;
    border-bottom-left-radius: 60px;
}

.btn {
    cursor: pointer;
    outline: none;
    width: 12rem;
    height: 4.5rem;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 2px 5px #000000;
    background: linear-gradient(to top, #696969, #575757);
    border: 2px solid #000000;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, 0.4), 0 12px 12px 0 rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background: linear-gradient(to bottom, #696969, #575757);
    color: rgb(158, 152, 152);
}

#text-anim {
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    height: 1.2rem;
}

#button-more {
    overflow: hidden;
}

@media (max-width: 576px) {
    .main h1 {
        font-size: 1.5rem;
    }
    .nav-item {
        margin-top: -5rem;
    }
    .box-car {
        max-width: 20rem;
    }
    .navbar-collapse {
        background-color: rgb(192, 13, 15);
        opacity: 0.8;
    }
    .d-block {
        height: 16rem;
        object-fit: cover;
    }
    #gallery img {
        height: 10rem;
    }
    #displaytable {
        /* display: none; */
    }
    /* #gallery {
        display: none;
    } */
}

@media (max-width: 1000px) {
    .container-fluid {
        height: 2rem;
    }
    .modal-body::after {
        border-radius: 3px 30px;
        height: 100px;
        width: 100px;
    }
    .modal-body::before {
        top: -5px;
        left: -5px;
    }
}